<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <title>message board</title>
</head>
<body>
    <div class="nav">
        <ul class="nav__list">
         <li class="nav__item"><a href="/">Home</a></li>
         <div class="dropDownMenu-posts">
            <li class="nav__item"><a href="/posts">Posts</a></li>
         </div>
        </ul>
    </div>
    <div class="message">
        <input type="checkbox" class="message__checkbox" id="toggle" />
        <label for="toggle" class="message__label">
            <div class="message__button">
                <span class="message__icon-1"></span>
                <span class="message__icon-2"></span>
            </div>
            <div class="message__message-post">
                        <h3 class="heading-secondary-post">New Post</h3>
                        <form id="message-form" action="/submit" enctype="multipart/form-data" method="POST">
                        <div class="message-post-home">
                            <textarea class="message-post-home__input margin-vert-very-small autoResize" type="text" name="subject" placeholder="Title" oninput="grow(this)" ></textarea>
                            <textarea class="message-post-home__input-text margin-vert-very-small autoResize" type="text" name="text" placeholder="Text" oninput="grow(this)"></textarea>
                            <input class="message-post-home__input-image" type="file" name="imageFile">
                            <input class="btn-large" type="submit" value="Submit">
                            <a href=""></a>
                        </div>
                    </form>
            </div>
        </label>
    </div>

</body>
</html>