@use"../abstracts/variables" as *;
@use"../abstracts/mixins" as *;

.nav{
    top: 0px;
    background-color: $color-white;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid black;
    position: fixed;
    right: 0;
    z-index: 1000;
    

    &__list{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: auto;
    }

    &__item{
        font-size: 2rem;
        
        a{
            color: $color-blue-primary;
            text-decoration: none;
            font-weight: 600;
            transition: 2s;
        
        }
        &::after{
            display: block;
            content: "";
            border-bottom: 5px solid $color-blue-primary;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            transform-origin: 0% 50%;
            }
           
        &:hover::after{
            transform: scaleX(1);
            
        }
    }
}

.message {
    position: fixed;
    right: 0rem;
    top: 1rem;
    z-index: 1000;
    

    &__button{
    position: absolute;
    top: 6rem;
    right: 6rem;
    @include grey-gradiant;
    border-radius: 4px;
    width: 4rem;
    height: 4rem;
    border: 1px solid $color-light-black;
    z-index: 100;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.52);
    transition: right .4s;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include grey-gradiant-mirrored;
            opacity: 0;
            transition: opacity 1s;
            z-index: 1;
            }

            &:hover::before {
            opacity: 1
            }
    }

    &__message-post{
    right: -26rem;
    top: 6rem;
    opacity: 0;
    position: absolute;
    @include light-blue-gradiant-full;
    border-radius: 4px;
    border: 1px solid;
    padding: 1rem;
    text-align: center;
    transition: opacity 0.4s ease, right 0.4s ease;
    pointer-events: none;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.52);
    backdrop-filter: blur(10px);
    
    }

    &__checkbox {
        display: none;
    }  

    &::after{
        content: '';
        
        display: block;
        position: absolute;
        left: 5rem;
        top: 5rem;
    }

    &__label {
        display: block;
        cursor: pointer;
    }

    &__icon-1,
    &__icon-2 {
        position: relative;
        width: 2rem;
        height: 2px;
        background-color: $color-light-black;
        display: inline-block;
        transition: .5s;
        margin-left: 1rem;
        z-index: 10;
    }

    &__icon-1 {
        margin-top: 1.4rem;
        transform: rotate(-40deg);
    }

    &__icon-2 {
        transform: rotate(40deg);
    }

    &__checkbox:checked + &__label &__icon-1 {
        transform: rotate(40deg);
    }

    &__checkbox:checked + &__label &__icon-2 {
        transform: rotate(-40deg);
    }
    
    &__checkbox:checked ~ &__label &__message-post {
    opacity: 1;
    right: 4rem;
    pointer-events: auto;
    }
    &__checkbox:checked ~ &__label &__button {
    @include grey-gradiant-mirrored;
    opacity: 1;
    right: 32rem;
    pointer-events: auto;
    }
}
@keyframes messageBox{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
        top: -1px;
        right: 2rem;
    }
}


