@use"../abstracts/variables" as *;
@use"../abstracts/mixins" as *;
*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  
}

html{
    font-size: 62.5%; 
 
// font repsonsive sizing

    @include respond(largescreen){
        font-size: 75%;
    }
   
    @include respond(tablet){
        font-size: 56.25%; 
    }
   
    @include respond(mobile){
        font-size: 50%;
    }
    

}

body{
    margin: 0rem 6rem;

    @include respond(tablet){
        margin: 0rem 2rem;
    }

    @include respond(mobile){
        margin: 0rem 1rem;
    }
}


ul{
    padding: 0;
}
li{
    list-style: none;
}

