@use"../abstracts/variables" as *;
@use"../abstracts/mixins" as *;

*{
    font-family: "lato";
}


h4,
h5,
h6,
p{
    color: $color-black;
}


.heading-primary{
    font-size: 5rem;
    @include dark-blue-gradiant;
    background-clip: text;
    color: transparent;
}
.heading-secondary{
    font-size: 3rem;
    @include dark-blue-gradiant;
    background-clip: text;
    color: transparent;
     
}

.heading-secondary-post{
    font-size: 3rem;
    @include dark-blue-gradiant;
    background-clip: text;
    color: transparent;

    @include respond(tablet){
        font-size: 4rem;
    }
}

.heading-tertiary{
    font-size: 2rem;
    @include dark-blue-gradiant;
    background-clip: text;
    color: transparent;
}



.heading-four{
    margin: 2rem 0;
    font-size: 2rem;
    @include dark-blue-gradiant;
    background-clip: text;
    color: transparent;
}
