* {
  font-family: "lato";
}

h4,
h5,
h6,
p {
  color: #000000;
}

.heading-primary {
  font-size: 5rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.heading-secondary {
  font-size: 3rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 2rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.heading-four {
  font-size: 2rem;
  margin: 0.5rem;
}

.margin-vert-very-small {
  margin: 1rem 0;
}

.margin-vert-small {
  margin: 2rem 0;
}

.margin-vert-med {
  margin: 3.5rem 0;
}

.margin-vert-large {
  margin: 6rem 0;
}

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0rem 6rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.nav {
  top: 0px;
  background-color: #fff;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  position: fixed;
  right: 0;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
}
.nav__item {
  font-size: 2rem;
}
.nav__item a {
  color: #012777;
  text-decoration: none;
  font-weight: 600;
  transition: 2s;
}
.nav__item::after {
  display: block;
  content: "";
  border-bottom: 5px solid #012777;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
.nav__item:hover::after {
  transform: scaleX(1);
}

.message {
  position: fixed;
  background-color: #012777;
  width: 2rem;
  height: 6rem;
  border: 1px solid #000000;
  top: 6rem;
  right: 6rem;
  z-index: 10000;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
}
.message__message-post {
  opacity: 0;
  position: absolute;
  right: -32.2rem;
  top: -1px;
  background-color: #eeeeee;
  border-radius: 2px;
  text-align: center;
  border: 1px solid;
  padding: 1rem;
  transition: opacity 0.4s ease, right 0.4s ease;
  pointer-events: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
}
.message__checkbox {
  display: none;
}
.message::after {
  content: "";
  display: block;
  position: absolute;
  left: 5rem;
  top: 5rem;
}
.message__label {
  display: block;
  cursor: pointer;
}
.message__icon-1, .message__icon-2 {
  position: relative;
  width: 2rem;
  height: 2px;
  background-color: #e5e5e5;
  display: inline-block;
  transition: 0.1s;
}
.message__icon-1 {
  margin-top: 2.4rem;
  transform: rotate(-40deg);
}
.message__icon-2 {
  transform: rotate(40deg);
}
.message__checkbox:checked + .message__label .message__icon-1 {
  transform: rotate(40deg);
}
.message__checkbox:checked + .message__label .message__icon-2 {
  transform: rotate(-40deg);
}
.message__checkbox:checked ~ .message__message-post {
  opacity: 1;
  right: 2rem;
  pointer-events: auto;
}

@keyframes messageBox {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: -1px;
    right: 2rem;
  }
}
input, textarea {
  border: none;
}
input:focus-visible, textarea:focus-visible {
  outline: none;
}

.message-post-home {
  display: flex;
  flex-direction: column;
  width: 30rem;
  transition: 2s;
}
.message-post-home__input {
  border-bottom: 2px solid;
  transition: 0.1s;
  padding: 1rem;
  font-size: 1.5rem;
  transform-origin: left;
  background-color: transparent;
}
.message-post-home__input:focus {
  border-bottom: 2px solid #fca311;
}
.message-post-home__input-text {
  border-bottom: 2px solid;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
}
.message-post-home__input-text:focus {
  border-bottom: 2px solid #fca311;
}

.btn-large {
  width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  background-color: #011a50;
  color: #fff;
}
.btn-large:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  background-color: #012777;
}
.btn-large::after {
  transform: scale(0.9) translateY(0);
}

.small-button {
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  transition: all 0.2s;
}
.small-button:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
}
.small-button::after {
  transform: scale(0.9) translateY(0);
}

.delete-button {
  width: 3rem;
  height: 3rem;
  position: relative;
  background-color: #e5e5e5;
  cursor: pointer;
  margin-bottom: 0.5rem;
  float: right;
}
.delete-button__icon-1, .delete-button__icon-2 {
  position: absolute;
  width: 2rem;
  height: 2px;
  background-color: #000000;
  display: inline-block;
  transition: 0.1s;
  right: 2.1px;
  top: 12px;
}
.delete-button__icon-1 {
  transform: rotate(-40deg);
}
.delete-button__icon-2 {
  transform: rotate(40deg);
}
.delete-button:hover > * {
  background-color: #fca311;
}

.comment-delete-button {
  float: right;
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: #e5e5e5;
  cursor: pointer;
}
.comment-delete-button__icon-1, .comment-delete-button__icon-2 {
  position: absolute;
  width: 1.2rem;
  height: 2px;
  background-color: #000000;
  display: inline-block;
  transition: 0.1s;
  right: 2px;
  top: 7px;
}
.comment-delete-button__icon-1 {
  transform: rotate(-40deg);
}
.comment-delete-button__icon-2 {
  transform: rotate(40deg);
}
.comment-delete-button:hover > * {
  background-color: #fca311;
}

.post-buttons {
  float: right;
  display: flex;
  flex-direction: column;
}

.edit-button {
  width: 3rem;
  height: 3rem;
  position: relative;
  background-color: #e5e5e5;
  cursor: pointer;
}

.post {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -moz-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  position: relative;
}
.post__item {
  font-size: 2rem;
  list-style: none;
}
.post__item-message-text {
  font-size: 2.5rem;
  padding-left: 4rem;
  word-wrap: break-word;
}
.post__item > p {
  margin: 0;
  margin-bottom: 1rem;
}
.post__item-user-image {
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  margin: 0 1rem;
}
.post__item-user-image-small {
  width: 20px;
}
.post__link {
  text-decoration: none;
}

.post-edit {
  position: absolute;
  top: 0;
  right: 4rem;
  height: 25rem;
  transition: all 0.2s;
}
.post-edit__form {
  display: none;
  flex-direction: column;
  background-color: rgba(1, 39, 119, 0.1882352941);
  height: 50%;
  justify-content: space-evenly;
  padding: 1rem;
}
.post-edit__textbox {
  width: 50rem;
  height: 10rem;
  margin: 0.5rem 0;
}

.comment-item {
  box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -moz-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  margin: 1rem;
  padding: 1rem;
  word-wrap: break-word;
}
.comment-item__user {
  margin: 0;
  font-weight: 700;
  margin-bottom: 1rem;
}
.comment-item__text {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.comment-item__user-image-small {
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  margin: 0 1rem;
}

.comment-form {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.comment-form__text {
  font-size: 1.5rem;
  width: 95%;
  height: 5rem;
  box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -moz-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
}

.hero-section {
  text-align: center;
  margin-top: 5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  height: 50vh;
  text-align: center;
}

.message-board {
  max-width: 1024px;
  margin: 0 auto;
}
.message-board__list {
  padding: 0;
}

.message-post {
  max-width: 1400px;
  padding: 1rem;
  margin: auto;
  margin-top: 15rem;
}

/*# sourceMappingURL=style.css.map */
