* {
  font-family: "lato" !important;
}

h4,
h5,
h6,
p {
  color: #000000;
}

.heading-primary {
  font-size: 5rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.heading-secondary {
  font-size: 3rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.heading-secondary-post {
  font-size: 3rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}
@media (max-width: 760px) {
  .heading-secondary-post {
    font-size: 4rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.heading-four {
  margin: 2rem 0;
  font-size: 2rem;
  background: linear-gradient(180deg, rgb(0, 46, 145) 0%, rgb(0, 23, 71) 100%);
  background-clip: text;
  color: transparent;
}

.margin-vert-very-small {
  margin: 1rem 0;
}

.margin-vert-small {
  margin: 2rem 0;
}

.margin-vert-med {
  margin: 3.5rem 0;
}

.margin-vert-large {
  margin: 6rem 0;
}

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0rem 6rem;
}
@media (max-width: 760px) {
  body {
    margin: 0rem 2rem;
  }
}
@media (max-width: 425px) {
  body {
    margin: 0rem 1rem;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.nav {
  top: 0px;
  background-color: #fff;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  position: fixed;
  right: 0;
  z-index: 1000;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
}
.nav__item {
  font-size: 2rem;
}
.nav__item a {
  color: #012777;
  text-decoration: none;
  font-weight: 600;
  transition: 2s;
}
.nav__item::after {
  display: block;
  content: "";
  border-bottom: 5px solid #012777;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
.nav__item:hover::after {
  transform: scaleX(1);
}

.message {
  position: fixed;
  right: 0rem;
  top: 1rem;
  z-index: 1000;
}
.message__button {
  position: absolute;
  top: 6rem;
  right: 6rem;
  background-color: rgba(255, 255, 255, 0.5882352941);
  backdrop-filter: blur(3px);
  border-radius: 4px;
  width: 4rem;
  height: 4rem;
  border: 1px solid #525252;
  z-index: 100;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  transition: right 0.4s;
}
@media (max-width: 1024px) {
  .message__button {
    right: 2rem;
  }
}
@media (max-width: 760px) {
  .message__button {
    right: 0;
  }
}
.message__message-post {
  right: -26rem;
  top: 6rem;
  opacity: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(213, 226, 253, 0.8470588235) 0%, rgba(244, 248, 255, 0.7137254902) 60%);
  border-radius: 4px;
  border: 1px solid;
  padding: 1rem;
  text-align: center;
  transition: opacity 0.4s ease, right 0.4s ease;
  pointer-events: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(15px);
}
@media (max-width: 760px) {
  .message__message-post {
    box-shadow: 0;
    padding: 1rem 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    top: 4.2rem;
    background: linear-gradient(to top, rgba(213, 226, 253, 0.9058823529) 0%, rgba(244, 248, 255, 0.8823529412) 60%);
  }
}
.message__checkbox {
  display: none;
}
.message::after {
  content: "";
  display: block;
  position: absolute;
  left: 5rem;
  top: 5rem;
}
.message__label {
  display: block;
  cursor: pointer;
}
.message__icon-1, .message__icon-2 {
  position: relative;
  width: 2rem;
  height: 2px;
  background-color: #525252;
  display: inline-block;
  transition: 0.5s;
  margin-left: 1rem;
  z-index: 10;
}
.message__icon-1 {
  margin-top: 1.4rem;
  transform: rotate(-40deg);
}
.message__icon-2 {
  transform: rotate(40deg);
}
.message__checkbox:checked + .message__label .message__icon-1 {
  transform: rotate(40deg);
}
.message__checkbox:checked + .message__label .message__icon-2 {
  transform: rotate(-40deg);
}
.message__checkbox:checked ~ .message__label .message__message-post {
  opacity: 1;
  right: 4rem;
  pointer-events: auto;
}
@media (max-width: 760px) {
  .message__checkbox:checked ~ .message__label .message__message-post {
    right: 0;
  }
}
.message__checkbox:checked ~ .message__label .message__button {
  opacity: 1;
  right: 32rem;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0);
}
@media (max-width: 760px) {
  .message__checkbox:checked ~ .message__label .message__button {
    right: 0;
  }
}

@keyframes messageBox {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: -1px;
    right: 2rem;
  }
}
input, textarea {
  border: none;
}
input:focus-visible, textarea:focus-visible {
  outline: none;
}

.message-post-home {
  display: flex;
  flex-direction: column;
  width: 30rem;
  transition: 2s;
}
@media (max-width: 760px) {
  .message-post-home {
    width: 100%;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
.message-post-home__input {
  border-bottom: 2px solid;
  transition: 0.1s;
  padding: 1rem;
  font-size: 1.5rem;
  transform-origin: left;
  background-color: transparent;
}
@media (max-width: 760px) {
  .message-post-home__input {
    width: 80%;
  }
}
.message-post-home__input:focus {
  border-bottom: 2px solid #fca311;
}
.message-post-home__input-image {
  border: 2px solid;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}
.message-post-home__input-image::file-selector-button {
  border: none;
  padding: 1rem;
  background-color: #012777;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.message-post-home__input-image::file-selector-button:hover {
  background-color: #0240c3;
}
.message-post-home__input-text {
  border-bottom: 2px solid;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
}
@media (max-width: 760px) {
  .message-post-home__input-text {
    width: 80%;
    font-size: 1.7rem;
  }
}
.message-post-home__input-text:focus {
  border-bottom: 2px solid #fca311;
}

.btn-large {
  width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  background-color: #011a50;
  color: #fff;
}
@media (max-width: 760px) {
  .btn-large {
    width: 80%;
    font-size: 2rem;
  }
}
.btn-large:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  background-color: #012777;
}
.btn-large::after {
  transform: scale(0.9) translateY(0);
}

.small-button {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  background: #eeeeee;
  border: 1px solid #949494;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.52);
  transition: all 0.2s;
}
.small-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.53);
}
.small-button::after {
  transform: scale(0.9) translateY(0);
}

.delete-button {
  width: 3rem;
  height: 3rem;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 0.5rem;
  float: right;
  border: none;
}
.delete-button__icon-1, .delete-button__icon-2 {
  position: absolute;
  width: 2rem;
  height: 2px;
  background-color: #000000;
  display: inline-block;
  transition: 0.1s;
  right: 2.1px;
  top: 12px;
}
.delete-button__icon-1 {
  transform: rotate(-40deg);
}
.delete-button__icon-2 {
  transform: rotate(40deg);
}
.delete-button:hover > * {
  background-color: #fca311;
}

.comment-delete-button {
  float: right;
  width: 2rem;
  height: 2rem;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.comment-delete-button__icon-1, .comment-delete-button__icon-2 {
  position: absolute;
  width: 1.2rem;
  height: 2px;
  background-color: #000000;
  display: inline-block;
  transition: 0.1s;
  right: 2px;
  top: 7px;
}
.comment-delete-button__icon-1 {
  transform: rotate(-40deg);
}
.comment-delete-button__icon-2 {
  transform: rotate(40deg);
}
.comment-delete-button:hover > * {
  background-color: #fca311;
}

.post-buttons {
  float: right;
  display: flex;
  flex-direction: column;
}

.edit-button {
  width: 3rem;
  height: 3rem;
  position: relative;
  background-color: #e5e5e5;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  transition: 0.2s;
}
.edit-button:hover {
  color: #fca311;
  transform: rotate(90deg);
}
.edit-button:focus {
  color: #fca311;
  transform: rotate(90deg);
}

.like-button {
  display: inline-block;
}
.like-button__up {
  transform: scale(2) rotate(90deg);
}
.like-button__down {
  transform: scale(2) rotate(90deg) scaleX(-1);
}

.post {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -moz-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  position: relative;
  border-radius: 4px;
}
.post__item {
  word-wrap: break-word;
  font-size: 3rem;
  list-style: none;
}
.post__item-message-text {
  font-size: 1.8rem;
  padding-left: 4rem;
  word-wrap: break-word;
}
@media (max-width: 760px) {
  .post__item-message-text {
    padding-left: 0.2rem;
  }
}
.post__item-user-name {
  font-size: 1.5rem;
}
.post__item-subject-name {
  padding-left: 4rem;
}
.post__item > p {
  margin: 0;
  margin-bottom: 1rem;
}
.post__item-user-image {
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  margin: 0 1rem;
}
.post__item-user-image-small {
  width: 20px;
}
.post__link {
  text-decoration: none;
}
.post__break {
  margin: 1.5em 0;
  border: none;
  border-bottom: 1px solid #C0C0C0;
  transform: scale(0.8);
}
.post__image-container {
  font-size: 0;
  padding: 1px;
  overflow: hidden;
  justify-self: center;
  border: 1px solid #949494;
  border-radius: 5px;
  position: relative;
}
.post__image-container-image {
  width: 100%;
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 5px;
}
.post__image-container-background {
  z-index: -1;
  object-fit: cover;
  width: 700px;
  height: 540px;
  filter: blur(20px);
  opacity: 70%;
  display: none;
}

.post-edit {
  top: 0;
  right: 4rem;
  backdrop-filter: blur(2px);
  transition: all 0.2s;
  z-index: 1000;
}
.post-edit__form {
  transition: all 0.2s;
  display: none;
  opacity: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 4px;
}
.post-edit__input {
  padding: 5px;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.836);
  font-size: 1.3rem;
  outline: none;
  margin-bottom: 0.5rem;
  border: 1px solid #949494;
  border-radius: 5px;
}
.post-edit__textbox {
  padding: 5px;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.836);
  backdrop-filter: blur(20px);
  font-size: 1.5rem;
  outline: none;
  margin-bottom: 0.5rem;
  border: 1px solid #949494;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.comment-item {
  box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -moz-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  margin: 1rem;
  padding: 1rem;
  word-wrap: break-word;
}
.comment-item__user {
  margin: 0;
  font-weight: 700;
  margin-bottom: 1rem;
}
.comment-item__text {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.comment-item__user-image-small {
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  float: left;
  margin: 0 1rem;
}

.comment-form {
  margin: 1rem;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-between;
}
.comment-form__text {
  font-size: 1.5rem;
  width: 95%;
  box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
  -moz-box-shadow: -1px 1px 5px 1px rgba(64, 64, 64, 0.09);
}

.hero-section {
  text-align: center;
  margin-top: 5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  text-align: center;
}

.message-board {
  max-width: 1024px;
  margin: 0 auto;
}
.message-board__list {
  padding: 0;
}

.message-post-page {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  margin-top: 15rem;
}

.message-board-page {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  margin-top: 15rem;
}

/*# sourceMappingURL=style.css.map */
