@use"../abstracts/variables" as *;
@use"../abstracts/mixins" as *;

input, textarea {
    border: none;
    
    &:focus-visible{
        outline: none;
    }
}

.message-post-home{
    display: flex;
    flex-direction: column;
    width: 30rem;
    transition: 2s;
 

    &__input{
        border-bottom: 2px solid;
        transition: 0.1s;
        padding: 1rem;
        font-size: 1.5rem;
        transform-origin: left;
        background-color: transparent;
        

        &:focus{
            border-bottom: 2px solid $color-yellow-red;
        }
    }
    &__input-image{
        border: 2px solid;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;

        &::file-selector-button{
            border: none;
            padding: 1rem;
            background-color: $color-blue-primary;
            border-radius: 5px;
            color: white;
            font-weight: 600;
            text-transform: uppercase;

            &:hover{
                background-color: $color-light-blue-primary;
            }
        }

    }
    

    &__input-text{
        border-bottom: 2px solid;
        padding: 1rem;
        font-size: 1.5rem;
        background-color: transparent;


        &:focus{
            border-bottom: 2px solid $color-yellow-red;
        }
    }
    
    

}

