@use"../abstracts/variables" as *;
@use"../abstracts/mixins" as *;

.comment-item{
    @include border-shadow-light;
    margin: 1rem;
    padding: 1rem;
    word-wrap: break-word;


   

    &__user{
        margin: 0;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__text{
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    &__user-image-small{
            width: 15px;
            border-radius: 50%;
            border: 1px solid black;
            float: left;
            margin: 0 1rem;
            
            
        }
}

.comment-form{
    margin: 1rem;
    padding: 2rem 0rem;
    display: flex;
   
    flex-direction: column;
    align-items: flex-end;
    

    &__text{
        resize: none;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        width: 100%;
        @include border-shadow-light;
        transition: all .2s;
        border-bottom: 2px solid $color-dark-grey;
        
        &:focus{
            border-bottom: 2px solid $color-light-black;
        }
    }

    

}