@use"../abstracts/variables" as *;
@use"../abstracts/mixins" as *;


.post{
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    @include border-shadow-light;
    position: relative;
    @include border-curve-small;

    &:hover{
        background-color: #f7f7f7;
    }
    
    &__item{
        word-wrap: break-word;
        font-size: 3rem;
        list-style: none;

        &-message-text{
            font-size: 1.8rem;
            padding-left: 4rem;
            word-wrap: break-word;

            @include respond(tablet){
             padding-left: .2rem;
    }
        }
        &-user-name{
            font-size: 1.5rem;
        }
        &-subject-name{
            padding-left: 4rem;
        }

        > p {
            margin: 0;
            margin-bottom: 1rem;
        }

        &-user-image{
            width: 25px;
            border-radius: 50%;
            border: 1px solid black;
            float: left;
            margin: 0 1rem;
            
            &-small{
                width: 20px;
            }
        }

    }

    &__link{
        text-decoration: none;
    }

    &__break{
        margin: 1.5em 0;
        border: none;
        border-bottom: 1px solid $color-silver;
        transform: scale(0.8);
    }
    
    &__image-container{
        font-size: 0;
        padding: 1px;
        overflow: hidden;
        justify-self: center;
        @include border-curved;
        position: relative;

        &-image{
            width: 100%;
            left: 0;
            right: 0;
            margin-inline: auto;    
            border-radius: 5px;     
        }

        &-background{
            z-index: -1;
            object-fit: cover;
            width: 700px;
            height: 540px;
            filter: blur(20px);
            opacity: 70%;
            display: none;
        }

    }

}

.post-edit{
    top: 0;
    right: 4rem;
    backdrop-filter: blur(2px);
    transition: all .2s; 
    z-index: 1000;
    
    
    
    &__form{
    transition: all .2s; 
    display: none;
    opacity: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    @include border-curve-small;
    
    }

    &__input{
        padding: 5px;
        margin: .5rem 0;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 1.3rem;
        outline: none;
        margin-bottom: .5rem;
        border: 1px solid $color-dark-grey;
        border-radius: 5px;
    }

    &__textbox{
        padding: 5px;
        margin: .5rem 0;
        background-color: rgba(255, 255, 255, 0.836);
        backdrop-filter: blur(20px);
        font-size: 1.5rem;
        outline: none;
        margin-bottom: .5rem;
        border: 1px solid $color-dark-grey;
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    
    
    
}