@mixin border-shadow-light{
box-shadow: -1px 1px 5px 1px rgba(64,64,64,0.09);
-webkit-box-shadow: -1px 1px 5px 1px rgba(64,64,64,0.09);
-moz-box-shadow: -1px 1px 5px 1px rgba(64,64,64,0.09);
}

@mixin border-nav{
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0)) 1;
}

@mixin light-blue-gradiant{
    background: linear-gradient(to top, #79a3fe62 0%, #eef3ff62 100%);
}

@mixin light-blue-gradiant-full{
    background: linear-gradient(to top, #d5e2fdb7 0%, #f4f8ffb6 60%);
}

@mixin grey-gradiant{
    background: linear-gradient(90deg, rgba(120, 120, 120, 0.5), rgba(222, 222, 222, 0.5));
}

@mixin grey-gradiant-mirrored{
    background: linear-gradient(270deg, rgba(120, 120, 120, 0.5), rgba(222, 222, 222, 0.5) );
}

@mixin border-curve-small{
    border-radius: 4px;
}

