
$color-white: #fff;
$color-off-white: #fcfcfc;

$color-black: #000000;
$color-border-black: rgba(73, 73, 73, 0.123);

$color-dark-blue: #14213d;
$color-lighter-dark-blue:#011a50;
$color-blue-primary: #012777;
$color-light-blue-primary: #0240c3;

$color-yellow-red: #fca311;




$color-silver:#C0C0C0;
$color-light-grey: #eeeeee;
$color-light-grey-1: #e5e5e5;
$color-dark-grey: #949494;
$color-light-black: #525252;
